# Disabled for now on tone

[Unit]
Description=Droid bootctl
After=start-user-session.service

[Service]
Type=oneshot
#ExecStart=/bin/sh /usr/bin/droid/droid-bootctl.sh
ExecStart=/bin/true


[Install]
WantedBy=graphical.target actdead.target
